{% if song %}
  <li class="bg-white rounded-xl shadow-md items-center p-6 m-6 mx-auto flex justify-between ">
	  <a href="{% url 'songs:detail' song.id %}" data-turbo-frame="main-content"base>
	    {{ song.title }}
	  </a>
	  
	  {% url 'songs:update' song.id as edit_url %}
	  {% include "songs/_button_link.html" with url=edit_url content="Edit" dataTurboFrame="main-content" only %}
  </li>
{% endif %}
