<form
  method="post"
  action="{% url 'songs:create' %}{% if success_url %}?success_url={{success_url}}{% endif %}"
  {% if target %}
  data-turbo-frame="{{ target }}"
  {% else %}
  data-turbo-frame="main-content"
  {% endif %}
  >{% csrf_token %}
  <p class="mb-6">
    {{ form.title }}
  </p>
  <p class="mb-6">
    {{ form.lyrics }}
  </p>
  
  {% include "songs/_button_solid.html" with content="Create" submit=True %}
</form>
