<!DOCTYPE html>
<html lang="en">
<head>
  <title>Folksongz</title>
  {% include "_static.html" %}
</head>

<body class="container h-screen bg-indigo-100 p-2">
  <div class="grid grid-cols-3 gap-4 h-screen">

    <div class="col-span-2 h-screen">
      <turbo-frame id="main-content" class="h-screen">
	{% block content %}{% endblock %}
      </turbo-frame>
    </div>

    <div class="">
      <turbo-frame id="sidebar">
	<input />
      </turbo-frame>
    </div>
  </div>
</body>

</html>
