{% extends "songs/base.html" %}

{% block content %}

<a href="{% url 'songs:list' %}">&lt; Back</a>
<div class="bg-white rounded p-12">
    <h2 class="font-bold text-lg">{{ song.title }}</h2>
    <div class="mb-3">
      <p>
	{{ song.lyrics }}
      </p>
    </div>
    <div class="flex justify-end">
      {% url 'songs:update' song.id as edit_url %}
      {% include "songs/_button_link.html" with url=edit_url content="Edit" %}
    </div>
</div>
{% endblock %}
