{% extends "songs/base.html" %}

{% block content %}
<div class="h-12">
  {% include "songs/search/_input.html" %}
</div>
<turbo-frame id="song_create">
  {% include "songs/_button_link_solid.html" with url=create_song_link_url content="Add Song" %}
</turbo-frame>

<!--  include "songs/_song_create.html" with form=create_form target="main-content" success_url=create_success_url csrf_token=csrf_token only  -->

<turbo-frame id="song_list">
  <div>
    <ul>
        {% for song in songs_list %}
          {% include "songs/_list_item.html" %}
        {% endfor %}
    </ul>
  </div>
</turbo-frame>
{% endblock %}
