
{% extends "songs/base.html" %}

{% block content %}
<form method="post" action="{% url 'songs:update' song.id %}">{% csrf_token %}
    {{ form.as_p }}
  <input type="submit" value="Update">
  <a href="{{ song.get_absolute_url }}">Cancel</a>
</form>
{% endblock %}
